.header {
    min-height: 60px;
    display: flex;
    align-items: center;
    background-color: #313131;
    margin: 0;
    padding: 0;
    color: #fff;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        i {
            margin-right: 20px;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__title {
            font-size: 19px;
        }
    }
}
